# Virtual Environments
.venv/
venv/
ENV/
order-service/.venv/

# Python Cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Testing artifacts
.pytest_cache/
.coverage
htmlcov/

# Environment Files
**/.env
.env
